# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea
.vscode
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Testing
/coverage

# Misc
.cache
